body{
	margin: 0;
	background-color: gray;
}
.text{
	text-indent: 2em;
}
.title{
	margin-top: 0;
	background-color: black;
	height: 60px;
}
.title img{
	position: relative;
	float: left;
	margin-left: 10px;
	height: 60px;
	width: 100px;
}

.title a{
	position: relative;
	float: right;
	color: white;
	line-height: 60px;
	margin-right: 20px;
}
.article_1, .article_2, .last_article {
	margin: 10px;
	padding: 10px;
	background-color: white;
}
aside{
	margin: 10px;
	padding: 10px;
	background-color: white;
}
.images{
	margin: 10px;
	padding: 10px;
	background-color: white;
}
.images div{
	margin-top: 10px;
	margin-left: 50px;
	padding: 10px;
	border: 1px solid #000;
	width: 390px;
}
table{
	margin: 15px;
	width: 96%;
	border: 1px solid black;
	border-spacing:0;
}
table tr{
	margin: 0;
}
table th{
	text-align: center;
	color: white;
	background-color: #616161;
	padding: 3px;
}
table td{
	padding: 1px;
}
/*侧栏*//*************************************************/
aside h4{
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-left:3px solid #ccc;
}
aside form div{
    font-size: 14px;
    margin:15px 0;
}

aside form div .tips{
    float:left;           /*添加后个人描述四个字才和文本域上对齐*/
    text-align:right;
    width:35%;
    padding-right:15px;
}
aside form div p{
    margin-left:35%;
    padding-left:15px;
    font-size:12px;
    color: #aaa;
}
aside textarea{
    width:50%;
    height:100px;

}
aside .submitButton{
    width:100%;
    height:40px;
    border-radius: 10px;
    background: #128fdc;
    color: white;
    font-size: 19px;
    border:none;
}
aside .submitButton:hover{
    background: #0063dc;

}
/*底部*//*hollowtree************************************************/
footer{
    width:100%;
    height:50px;
    background:black;
    color:white;
    text-align:center;
    line-height:50px;
    font-size:14px;
}
Contact GitHub API Training Shop Blog About





